body {
  margin: 0;

  font-family: sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-height: 30%;
}

.clickable {
  cursor: pointer;
}

.category {
  max-width: 30rem;
}

.dropzone {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  color: rgb(82, 80, 80);
}
